:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --sky-blue: #060136;
  --black: #000000;
}
.sky-container {
  position: fixed;
  inset: 0;
  background: linear-gradient(var(--black), var(--sky-blue));
  z-index: -1;
}

.stars {
  width: var(--size);
  height: var(--size);
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--space-layer);
  border-radius: 50%;
  animation: var(--animation-name) var(--durationMove, 20s) linear infinite,
    starBright var(--durationBright, 5s) linear infinite;
}
@keyframes moveStarsX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes moveStarsY {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
@keyframes starBright {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}
